[submodule "KiwiCore"]
	path = KiwiCore
	url = https://pierreguillot@github.com/KiwiMusic/KiwiCore.git
[submodule "KiwiGui"]
	path = KiwiGui
	url = https://pierreguillot@github.com/KiwiMusic/KiwiGui.git
[submodule "KiwiObjects"]
	path = KiwiObjects
	url = https://pierreguillot@github.com/KiwiMusic/KiwiObjects.git
[submodule "KiwiPatcher"]
	path = KiwiPatcher
	url = https://pierreguillot@github.com/KiwiMusic/KiwiPatcher.git
[submodule "KiwiDsp"]
	path = KiwiDsp
	url = https://pierreguillot@github.com/KiwiMusic/KiwiDsp.git
[submodule "KiwiWrapper"]
	path = KiwiWrapper
	url = https://pierreguillot@github.com/KiwiMusic/KiwiWrapper.git
